In [6]:
import pandas as pd
import numpy as np

In [19]:
data=np.array([1,2,3,4,5,6,7,8])
s=pd.Series(data,index=['a','b','c','d','e','f','g','h'])

s.g

7

In [25]:
data2=(0,1,2,3)
s=pd.Series(data2,index=['b','c','d','a'])
s

b    0
c    1
d    2
a    3
dtype: int64

In [30]:
s=pd.Series([1,2,3],index=['a','b','c'])
t=pd.Series([1,2,4],index=['a','b','c'])
s*t

a     1
b     4
c    12
dtype: int64

In [43]:
data=np.array([1,2,3,4,5,6,7,8])
s=pd.Series(data,index=[51.2,52.2,53.4,54.0,55,56,57,58])
s.iloc[:3]

51.2    1
52.2    2
53.4    3
dtype: int64

In [47]:
temp=pd.Series([1,2,3,4])
btemp=[]
for i in temp:
    if i%2==0:
        btemp+=[True]
    else:
        btemp+=[False]
temp[btemp]

1    2
3    4
dtype: int64

In [55]:
d1={'one':pd.Series([1,2,3],index=['a','b','c']),
'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d1)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4