In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_csv("data.csv")

In [4]:
df.describe()

,followers,Likes,Boost Index,Engagement Rate,Engagement Rate 60days,Views,Views Avg.,Avg. 1 Day,Avg. 3 Day,Avg. 7 Day,Avg. 14 Day,Avg. 30 day,Avg. 60 day,Comments Avg
count,8.570000e+02,8.570000e+02,857.000000,855.000000,857.000000,8.570000e+02,8.550000e+02,4.940000e+02,6.520000e+02,7.410000e+02,7.790000e+02,8.150000e+02,8.570000e+02,855.000000
mean,4.952975e+07,2.330995e+08,67.394399,0.352958,0.074128,2.705917e+10,1.623790e+07,1.838175e+05,5.716933e+05,1.385199e+06,2.399227e+06,2.969197e+06,3.461323e+06,15463.099769
std,2.861902e+07,3.862461e+08,14.963222,0.798509,0.176490,2.797230e+10,3.566256e+07,4.377934e+05,1.145431e+06,3.684596e+06,7.865794e+06,8.481571e+06,8.740184e+06,32464.330850
min,2.400000e+07,0.000000e+00,1.000000,0.000261,0.000000,0.000000e+00,6.806065e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,3.310000e+07,2.926386e+07,62.000000,0.026044,0.005435,1.338297e+10,7.116034e+05,3.746667e+03,1.568650e+04,2.822990e+04,4.402979e+04,7.747906e+04,9.961357e+04,66.913148
50%,4.130000e+07,9.537514e+07,71.000000,0.098933,0.020671,2.019496e+10,2.871914e+06,3.054200e+04,8.466600e+04,1.824156e+05,3.005472e+05,3.817325e+05,6.035549e+05,1145.008734
75%,5.340000e+07,2.351904e+08,78.000000,0.379554,0.062921,2.834708e+10,1.525982e+07,9.981923e+04,5.860400e+05,9.219135e+05,1.337819e+06,1.923809e+06,2.295416e+06,12890.231880
max,2.200000e+08,2.191406e+09,88.000000,10.584084,1.519044,1.956607e+11,4.239235e+08,3.472638e+06,6.596001e+06,2.994102e+07,6.877732e+07,6.877732e+07,5.383523e+07,199523.467700

In [5]:
df.isnull().sum()

Country                   150
Channel Name                0
Category                  121
Main Video Category         2
username                    0
followers                   0
Main topic                  2
More topics                 2
Likes                       0
Boost Index                 0
Engagement Rate             2
Engagement Rate 60days      0
Views                       0
Views Avg.                  2
Avg. 1 Day                363
Avg. 3 Day                205
Avg. 7 Day                116
Avg. 14 Day                78
Avg. 30 day                42
Avg. 60 day                 0
Comments Avg                2
Youtube Link                0
dtype: int64

In [6]:
df1=df[['Channel Name','followers','Likes','Boost Index','Engagement Rate']]
Eng_mean=df1['Engagement Rate'].mean()
df1['Engagement Rate'].fillna(value=Eng_mean,inplace=True)
df1.isnull().sum()

/tmp/ipykernel_10978/2046750724.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Engagement Rate'].fillna(value=Eng_mean,inplace=True)

Channel Name       0
followers          0
Likes              0
Boost Index        0
Engagement Rate    0
dtype: int64

In [7]:
df1[df1['Boost Index']>50].sort_values(by=['Boost Index']).head(5)

    Channel Name  followers        Likes  Boost Index  Engagement Rate
71     Voot Kids   38100000  46360335.99           51         0.098878
721    Voot Kids   38100000  46360335.99           51         0.098878
521    Voot Kids   38100000  46360335.99           51         0.098878
221    Voot Kids   38100000  46360335.99           51         0.098878
296    Voot Kids   38100000  46360335.99           51         0.098878

In [8]:
df['Category'].value_counts()

Gaming & Apps       398
Music               210
None                 62
Beauty & Fashion     36
Sports                8
Science & Tech        8
Fashion               8
LifeStyle             6
Name: Category, dtype: int64

In [9]:
df['Main topic'].value_counts()

Music                      168
Entertainment              138
Lifestyle                  135
Movies                      96
Pop music                   64
Music of Asia               47
Hip hop music               34
TV shows                    28
Action game                 22
Hobby                       21
Technology                  18
Gaming                      18
Society                     14
Electronic music            14
Music of Latin America      14
Rhythm and blues             6
Action-adventure game        4
Role-playing video game      4
Food                         2
Knowledge                    2
Strategy video game          2
Vehicles                     2
Rock music                   2
Name: Main topic, dtype: int64

In [14]:
df[(df['Main topic']=='Entertainment') | (df['Main topic']=='Movies')][["Channel Name", 'Main topic']]

                                 Channel Name     Main topic
1                   ABCkidTV - Nursery Rhymes         Movies
2                                   SET India         Movies
8                   ABCkidTV - Nursery Rhymes         Movies
9                                   SET India         Movies
19                        Goldmines Telefilms         Movies
..                                        ...            ...
836                                     Smosh  Entertainment
840                                  Nick Jr.         Movies
847                             WatchMojo.com  Entertainment
848  Super JoJo - Nursery Rhymes & Kids Songs         Movies
854                              Amit Bhadana  Entertainment

[234 rows x 2 columns]

In [16]:
df['Engagement Rate'].max()

10.58408389

In [17]:
df["Engagement Rate"].min()

0.0002609916678

In [20]:
df[["Main topic","Views"]].groupby(["Main topic"]).sum()

                                 Views
Main topic
Action game               192774528416
Action-adventure game      32001873040
Electronic music          196298935862
Entertainment            3392077258994
Food                       37673672622
Gaming                    224938301538
Hip hop music             636202123048
Hobby                    1300298209511
Knowledge                  13111393572
Lifestyle                3264219428118
Movies                   4509505323184
Music                    3791766520248
Music of Asia            2570390687728
Music of Latin America    265119014468
Pop music                1515408509942
Rhythm and blues           95320111054
Rock music                 37226274172
Role-playing video game    43577694002
Society                   226016948574
Strategy video game         9488615174
TV shows                  696702472446
Technology                130629918392
Vehicles                    8961060020

In [21]:
df["Social Score"]=df['Views']*df["Engagement Rate"]
df["Social Score"]

0      6.547421e+09
1      8.536444e+10
2      1.468534e+08
3      1.802831e+09
4      1.184428e+10
           ...
852    3.312732e+08
853    1.873949e+10
854    2.262326e+09
855    1.488611e+09
856    1.705339e+08
Name: Social Score, Length: 857, dtype: float64

In [22]:
df[["Main topic","Views"]].groupby(["Main topic"]).mean()

                                Views
Main topic
Action game              8.762479e+09
Action-adventure game    8.000468e+09
Electronic music         1.402135e+10
Entertainment            2.458027e+10
Food                     1.883684e+10
Gaming                   1.249657e+10
Hip hop music            1.871183e+10
Hobby                    6.191896e+10
Knowledge                6.555697e+09
Lifestyle                2.417940e+10
Movies                   4.697401e+10
Music                    2.257004e+10
Music of Asia            5.468916e+10
Music of Latin America   1.893707e+10
Pop music                2.367826e+10
Rhythm and blues         1.588669e+10
Rock music               1.861314e+10
Role-playing video game  1.089442e+10
Society                  1.614407e+10
Strategy video game      4.744308e+09
TV shows                 2.488223e+10
Technology               7.257218e+09
Vehicles                 4.480530e+09

In [23]:
df[["Main topic","Views"]].groupby(["Main topic"]).var()

                                Views
Main topic
Action game              6.328067e+18
Action-adventure game    3.862837e+19
Electronic music         6.529738e+18
Entertainment            3.312920e+20
Food                     0.000000e+00
Gaming                   2.109380e+19
Hip hop music            5.450168e+19
Hobby                    6.078228e+20
Knowledge                0.000000e+00
Lifestyle                4.550262e+20
Movies                   1.720865e+21
Music                    5.898374e+19
Music of Asia            4.836831e+21
Music of Latin America   3.874523e+19
Pop music                1.008420e+20
Rhythm and blues         7.007663e+18
Rock music               0.000000e+00
Role-playing video game  8.211860e+19
Society                  1.741840e+19
Strategy video game      0.000000e+00
TV shows                 2.204630e+20
Technology               2.989656e+19
Vehicles                 0.000000e+00

In [26]:
viewsum=df[["Main topic","Views"]].groupby(["Main topic"]).sum()
viewsum[viewsum['Views']>224938301538]

                                Views
Main topic
Entertainment           3392077258994
Hip hop music            636202123048
Hobby                   1300298209511
Lifestyle               3264219428118
Movies                  4509505323184
Music                   3791766520248
Music of Asia           2570390687728
Music of Latin America   265119014468
Pop music               1515408509942
Society                  226016948574
TV shows                 696702472446

In [27]:
df.corr()

/tmp/ipykernel_10978/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,followers,Likes,Boost Index,Engagement Rate,Engagement Rate 60days,Views,Views Avg.,Avg. 1 Day,Avg. 3 Day,Avg. 7 Day,Avg. 14 Day,Avg. 30 day,Avg. 60 day,Comments Avg,Social Score
followers,1.000000,0.500335,0.218396,-0.082989,0.019658,0.847929,0.145527,0.252499,0.318546,0.305670,0.129723,0.168446,0.244095,0.030719,0.207117
Likes,0.500335,1.000000,0.238953,-0.028733,0.160202,0.198697,0.089432,0.347254,0.390695,0.494882,0.230142,0.210411,0.310718,0.457865,-0.026645
Boost Index,0.218396,0.238953,1.000000,-0.063909,-0.038517,0.211831,0.013309,0.053000,0.076731,-0.011208,-0.001729,0.029677,0.002962,-0.051820,0.030513
Engagement Rate,-0.082989,-0.028733,-0.063909,1.000000,0.436098,-0.046493,0.837483,0.003510,0.134928,0.171919,0.435554,0.371485,0.342436,0.208010,0.806315
Engagement Rate 60days,0.019658,0.160202,-0.038517,0.436098,1.000000,-0.049838,0.553659,0.648897,0.746745,0.836151,0.941751,0.945966,0.875859,0.305790,0.366369
Views,0.847929,0.198697,0.211831,-0.046493,-0.049838,1.000000,0.124365,0.185815,0.258719,0.060090,0.033970,0.066084,0.104502,-0.221748,0.295678
Views Avg.,0.145527,0.089432,0.013309,0.837483,0.553659,0.124365,1.000000,0.171712,0.424038,0.520776,0.581435,0.566698,0.620467,0.235357,0.884210
Avg. 1 Day,0.252499,0.347254,0.053000,0.003510,0.648897,0.185815,0.171712,1.000000,0.779004,0.798947,0.783053,0.823114,0.793366,0.137436,0.357316
Avg. 3 Day,0.318546,0.390695,0.076731,0.134928,0.746745,0.258719,0.424038,0.779004,1.000000,0.914192,0.796383,0.787330,0.758010,0.233092,0.409436
Avg. 7 Day,0.305670,0.494882,-0.011208,0.171919,0.836151,0.060090,0.520776,0.798947,0.914192,1.000000,0.962635,0.820727,0.939137,0.451561,0.246076
Avg. 14 Day,0.129723,0.230142,-0.001729,0.435554,0.941751,0.033970,0.581435,0.783053,0.796383,0.962635,1.000000,0.943576,0.888661,0.255691,0.412778
Avg. 30 day,0.168446,0.210411,0.029677,0.371485,0.945966,0.066084,0.566698,0.823114,0.787330,0.820727,0.943576,1.000000,0.925278,0.242248,0.421896
Avg. 60 day,0.244095,0.310718,0.002962,0.342436,0.875859,0.104502,0.620467,0.793366,0.758010,0.939137,0.888661,0.925278,1.000000,0.296566,0.436148
Comments Avg,0.030719,0.457865,-0.051820,0.208010,0.305790,-0.221748,0.235357,0.137436,0.233092,0.451561,0.255691,0.242248,0.296566,1.000000,0.003982
Social Score,0.207117,-0.026645,0.030513,0.806315,0.366369,0.295678,0.884210,0.357316,0.409436,0.246076,0.412778,0.421896,0.436148,0.003982,1.000000

In [28]:
df['Avg. 1 Day']=df['Avg. 1 Day']/df['Avg. 1 Day'].max()
df['Avg. 1 Day']

0      0.043841
1      0.529256
2           NaN
3           NaN
4           NaN
         ...
852    0.020147
853         NaN
854    0.000000
855         NaN
856    0.006274
Name: Avg. 1 Day, Length: 857, dtype: float64